.story_body {

    /* background-color: blue; */
    text-align: center;
    
}

.post_div{
    /* margin: 10px; */
}

.container{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /* border-style:solid;   */
    justify-content: space-around;

}
.profil_container{
    background-color: yellow;
    isplay: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;

}

.container_item{
    text-align: center;
    width: 30%;
    
    background-color: red;

}

.img_div{
    /* background-color: black; */
    padding:30%;
    margin-bottom: 10px ;
    background-position: center;
    /* display: flex; */
    /* flex-direction: row; */
    background-size: contain;
    background-repeat: no-repeat;
}
 .react{
     display: flex;
     align-content: flex-start;
     margin-right: 50px;

 }

 .react_item{
     margin-right: 10px;
 }
